@import "../component_skeletons/nav_bar.css";
@import "../component_skeletons/news_card.css";
@import "../component_skeletons/footer.css";
@import "../component_skeletons/buttons/user_button.css";
@import "../component_skeletons/buttons/secondary_button.css";

.items-container {
    display: grid;
    gap: var(--spacing-5);
}

.section-header-inline {
    display: flex;
    align-items: center;
    gap: var(--spacing-6);
    margin-bottom: var(--spacing-3);
}
.section-header-inline h1 {
    margin: 0;
}


@media (min-width: 48rem) {
    .section-header-inline {
        margin-bottom: var(--spacing-3);
    }
    .btn-outline-orange-inline {
        font-size: var(--font-size-md);
    }
}
