/* ===============================
   CSS Color Variables
   Define all primary colors for the website
   =============================== */
:root {
    /* Primary color: used for highlights and H1 headings */
    --color-primary: #999ac6;

    /* Secondary color: used for secondary highlights and H4 & H5 headings */
    --color-secondary: #0b3954;

    /* Light color: used for card backgrounds */
    --color-light: #fff9ec;

    /* Dark color: used for subdued elements */
    --color-dark: #798071;

    /* Bright color: used for buttons and warning text */
    --color-bright: #ff5a5f;

    /* Background color: page background */
    --color-background: #fcfafa;
}

body {
    background-color: var(--color-background);
    color: var(--color-dark); /* Default text color for subdued elements */
    font-family: "Urbanist", sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5; /* unitless for scalability */
}

h1 {
    font-size: 4rem; /* 64px */
    color: var(--color-primary);
}

h2 {
    font-size: 3rem; /* 48px */
}

h3 {
    font-size: 1.5rem; /* 24px */
}

h4 {
    font-size: 1rem; /* 16px */
}

h5 {
    font-size: 0.75rem; /* 16px */
}

h4,
h5,
h6 {
    font-weight: bold;
}
p {
    font-size: 1rem; /* 16px */
}
