.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-3) var(--spacing-4);
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    text-decoration: none;
    line-height: 1;
    box-shadow: var(--shadow-md);
    cursor: pointer;
    transition: all var(--transition-fast);
    border: 3px solid var(--color-accent-orange);
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.btn-disabled,
.btn:disabled {
    background-color: var(--color-gray-300);
    color: var(--color-gray-500);
    border-color: var(--color-gray-300);
    cursor: not-allowed;
}
