@import "./button.css";


.btn-primary {
    background-color: var(--color-accent-orange);
    color: var(--color-black);
    border-color: var(--color-accent-orange);
}

.btn-primary:hover:not(:disabled) {
    background-color: var(--color-accent-orange-hover);
    border-color: var(--color-accent-orange-hover);
}

.btn-primary:active:not(:disabled) {
    transform: translateY(0);
}

.btn-primary:focus-visible {
    outline: 2px solid var(--color-accent-orange);
    outline-offset: 3px;
}
