.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-item {
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow-y: auto;
    padding: 0 1rem;
    transition:
        max-height 0.4s ease,
        padding 0.4s ease;
    background: white;
    font-size: 0.95rem;
}

.accordion-item.open .accordion-content {
    padding: 1rem;
    max-height: max-content;
}

.accordion.nested {
    margin-left: 1rem;
    border-left: 3px solid var(--color-primary);
    padding-left: 1rem;
}

.accordion.nested .accordion-header {
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    border: 1px solid var(--color-secondary);
    border-radius: 10px 10px 0 0;
}
.accordion.nested .accordion-content {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-radius: 0 0 10px 10px;
}

.accordion.second-nested {
    margin-left: 1rem;
    border-left: 3px solid var(--color-primary);
    padding-left: 1rem;
}

.accordion.second-nested .accordion-header {
    background-color: var(--color-gray-500);
    color: var(--color-text-white);
    border: 1px solid var(--color-gray-500);
    border-radius: 10px 10px 0 0;
}
.accordion.second-nested .accordion-content {
    color: var(--color-gray-500);
    border: 1px solid var(--color-gray-500);
    border-radius: 0 0 10px 10px;
}
