/* Card Skeleton */
.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card.style-guide {
    background-color: var(--color-surface);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Card hover effect */
.card.style-guide:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}


/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap; /* allows cards to wrap to next line on smaller screens */
    gap: 1rem; /* space between cards */
    justify-content: center; /* center cards on desktop */
}

/* Mobile: stack cards vertically */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center; /* center cards in mobile */
    }
}

/* Desktop: align cards horizontally */
@media (min-width: 769px) {
    .card-container {
        flex-direction: row;
    }
}
